
<div class="container">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/inicio" routerLinkActive="active-link">Inicio</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/prueba" routerLinkActive="active-link" >Prueba</a>
    </li>
    
  </ul>

  <router-outlet></router-outlet>
</div>
<!-- <div>
  <span>{{ title }}</span>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officiis quam! Aspernatur consequatur sit voluptatum ab suscipit neque excepturi voluptatem sunt placeat? Sunt, perferendis expedita officiis recusandae ipsa quidem quis?
</p>

<router-outlet></router-outlet>
<app-prueba> -->